<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>restaurant</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>CookingServlet</display-name>
        <servlet-name>CookingServlet</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.CookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookingServlet</servlet-name>
        <url-pattern>/CookingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>userServlet</display-name>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>TableServlet</display-name>
        <servlet-name>TableServlet</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.TableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TableServlet</servlet-name>
        <url-pattern>/TableServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>FuncTionServlet</display-name>
        <servlet-name>FuncTionServlet</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.FuncTionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuncTionServlet</servlet-name>
        <url-pattern>/FuncTionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>OrderdishesMenu</display-name>
        <servlet-name>OrderdishesMenu</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.OrderdishesMenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderdishesMenu</servlet-name>
        <url-pattern>/OrderdishesMenu</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>RecordServlet</display-name>
        <servlet-name>RecordServlet</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.RecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RecordServlet</servlet-name>
        <url-pattern>/RecordServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>MenuServlet</display-name>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.MenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/MenuServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>IndextSelectServlet</display-name>
        <servlet-name>IndextSelectServlet</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.IndextSelectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndextSelectServlet</servlet-name>
        <url-pattern>/IndextSelectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>TreeServlet</display-name>
        <servlet-name>TreeServlet</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.TreeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TreeServlet</servlet-name>
        <url-pattern>/TreeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>TransitServlet</display-name>
        <servlet-name>TransitServlet</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.TransitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransitServlet</servlet-name>
        <url-pattern>/TransitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>IndentServlet</display-name>
        <servlet-name>IndentServlet</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.IndentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndentServlet</servlet-name>
        <url-pattern>/IndentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>consumption</display-name>
        <servlet-name>consumption</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.Consumption</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>consumption</servlet-name>
        <url-pattern>/consumption</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>MyDeleteServlet</display-name>
        <servlet-name>MyDeleteServlet</servlet-name>
        <servlet-class>com.znsd.restaurant.servlet.MyDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyDeleteServlet</servlet-name>
        <url-pattern>/MyDeleteServlet</url-pattern>
    </servlet-mapping>

</web-app>